body {
  background: linear-gradient(to bottom, #ff88b0, #e2adf0);
}
.title {
  text-align: center;
}
.display {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  overflow: hidden;
  height: 200px;
  width: 150px;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 50px 30px;
  flex-shrink: 0;
}
.box .info {
  position: absolute;
  top: 0%;
}
.box a img {
  display: block;
  height: 100%;
  width: 100%;
}
.box.put-up .info {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  transform-origin: top;
  opacity: 0;
}
.box.put-up .info h5 {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.box.put-up .info span {
  display: block;
  color: transparent;
  font-size: 10px;
}
.box.put-up:hover .info {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.box.put-up:hover .info span {
  color: hsl(32, 83%, 60%);
  transition: color 1s cubic-bezier(0, 1.32, 1, 0.99) 0.2s;
}
.box.put-up.type1 .info {
  transform: rotateX(90deg);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.box.put-up.type1:hover .info {
  transform: rotateX(0deg);
}
.box.put-up.type2 .info {
  transform-origin: left top 0;
  transform: rotateY(90deg);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.box.put-up:hover .info {
  transform: rotateY(0deg);
}
.box.put-up.type3 .info {
  transform-origin: right top 0;
  transform: rotateY(90deg);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.box.put-up:hover .info {
  transform: rotateY(0deg);
}
.box.divi {
  width: 200px;
  perspective: 200px;
}
.box.divi > a img {
  transition: all 0.5s cubic-bezier(0.31, 0.33, 0.49, 1.81);
  backface-visibility: hidden;
  overflow: hidden;
}
.box.divi .info {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  background: url('../6.jpg') no-repeat;
  background-size: 100%;
  text-align: center;
  color: #ffffff;
}
.box.divi .info h5 {
  font-size: 12px;
  font-weight: 400;
  margin: 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.box.divi .info span {
  display: block;
  color: #ffffff;
  font-size: 10px;
}
.box.divi.type1 .info {
  transform: rotate3d(1, 1, 0, -100deg);
  transition: all 0.5s cubic-bezier(0.31, 0.33, 0.49, 1.81);
}
.box.divi.type1:hover > a img {
  transform: rotate3d(-1, -1, 0, -100deg);
  opacity: 0;
}
.box.divi.type1:hover .info {
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 1;
}
.box.divi.type2 .info {
  transform: rotate3d(-1, -1, 0, -100deg);
  transition: all 0.5s cubic-bezier(0.31, 0.33, 0.49, 1.81);
}
.box.divi.type2:hover > a img {
  transform: rotate3d(1, 1, 0, -100deg);
  opacity: 0;
}
.box.divi.type2:hover .info {
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 1;
}
.box.divi.type3 .info {
  transform: rotate3d(1, -1, 0, 100deg);
  transition: all 0.5s cubic-bezier(0.31, 0.33, 0.49, 1.81);
}
.box.divi.type3:hover > a img {
  transform: rotate3d(-1, 1, 0, 100deg);
  opacity: 0;
}
.box.divi.type3:hover .info {
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 1;
}
.box.divi.type4 .info {
  transform: rotate3d(-1, -1, 0, 100deg);
  transition: all 0.5s cubic-bezier(0.31, 0.33, 0.49, 1.81);
}
.box.divi.type4:hover > a img {
  transform: rotate3d(-1, 1, 0, 100deg);
  opacity: 0;
}
.box.divi.type4:hover .info {
  transform: rotate3d(0, 0, 0, 0deg);
  opacity: 1;
}
.box.ball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: visible;
  border: 0px;
  box-shadow: none;
  transition: all 1s ease;
}
.box.ball::before {
  z-index: 10;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.6);
  transition: all 1s ease;
}
.box.ball > a img {
  border-radius: 50%;
  transition: all 1s ease;
}
.box.ball .info {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  transition: all 1s ease;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
}
.box.ball:hover .info {
  opacity: 1;
}
.box.ball.type1 .info {
  left: 100%;
}
.box.ball.type1:hover .info {
  transform: rotate(360deg);
  transform: translateX(-100%);
}
.box.ball.type1:hover > a img {
  transform: rotate(180deg);
}
.box.ball.type2 .info {
  left: -100%;
}
.box.ball.type2:hover .info {
  transform: rotate(360deg);
  transform: translateX(100%);
}
.box.ball.type2:hover > a img {
  transform: rotate(180deg);
}
.box.ball.type3 .info {
  left: 0%;
  top: 100%;
}
.box.ball.type3:hover .info {
  transform: rotate(360deg);
  transform: translateY(-100%);
}
.box.ball.type3:hover > a img {
  transform: rotate(180deg);
}
.box.ball.type4 .info {
  left: 0%;
  top: -100%;
}
.box.ball.type4:hover .info {
  transform: rotate(360deg);
  transform: translateY(100%);
}
.box.ball.type4:hover > a img {
  transform: rotate(180deg);
}
.box.ball.Small1:hover.box.ball.Small1::before {
  transform: scale(0.4) translateX(-100%);
}
.box.ball.Small1 .info {
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}
.box.ball.Small1:hover > a img {
  transform: scale(0.4) translateX(-100%);
}
.box.ball.Small2:hover.box.ball.Small2::before {
  transform: scale(0.4) translateX(100%);
}
.box.ball.Small2 .info {
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}
.box.ball.Small2:hover > a img {
  transform: scale(0.4) translateX(100%);
}
.box.ball.Small3:hover.box.ball.Small3::before {
  transform: scale(0.4) translateY(130%);
}
.box.ball.Small3 .info {
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}
.box.ball.Small3:hover > a img {
  transform: scale(0.4) translateY(130%);
}
.box.ball.Small4:hover.box.ball.Small4::before {
  transform: scale(0.4) translateY(-130%);
}
.box.ball.Small4 .info {
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}
.box.ball.Small4:hover > a img {
  transform: scale(0.4) translateY(-130%);
}
.box.ball.fadein1 .info {
  transform: scale(0.5);
}
.box.ball.fadein1:hover > a img {
  transform: scale(1.3);
  opacity: 0;
  transition: all 1s ease-out;
}
.box.ball.fadein1:hover.box.ball.fadein1::before {
  transform: scale(1.3);
  opacity: 0;
  transition: all 1s ease-out;
}
.box.ball.fadein1:hover.box.ball.fadein1 .info {
  transform: scale(1);
}
.box.ball.fadein2 .info {
  transform: scale(1.3);
}
.box.ball.fadein2:hover > a img {
  transform: scale(0.3);
  opacity: 0;
}
.box.ball.fadein2:hover.box.ball.fadein2::before {
  transform: scale(0.3);
  opacity: 0;
}
.box.ball.fadein2:hover.box.ball.fadein2 .info {
  transform: scale(1);
}
