.all{
	height: 650px;
	width: 220px;
}
.title{
	background-color:#0f7cbf ;
	color:white;
	font-size: 18px;
	height: 40px;
	text-indent: 1em;
	line-height: 40px;
	 -o-text-overflow: ellipsis; 
    text-overflow: ellipsis;
    overflow: hidden;

}

.list-title{
	height: 30px;
	color:#0f7cbf;
	background-color: #e4f1fa;
	text-indent: 2em;
	font-size: 16px;
	line-height:30px;
}
.list-iteam{
	padding-top:20px;
	height: 95px;
	background-color: #ffff00;
	text-indent: 2em;
	font-size: 16px;
	line-height: 25px;
}

.list-iteam a{
		color: #999999;
}
