.ui-wrapper{
	width: 100%;
	height: 620px;
	position: relative;
}
.ui-wrapper .wrapper-img{
	width: 100%;
	height: 620px;
	overflow: hidden;
	position: relative;
}
.ui-wrapper .wrapper-img img{
    margin-left:-1280px;
    position: absolute;
    left: 50%;
    top: 0;
    max-width: none;
    width: 2560px;
    height: 620px;
}
.ui-wrapper .wrapper-dot{
	position: absolute;
	bottom:25px;
	left: 50%;
	margin-left: -20px;
}
.ui-wrapper .wrapper-dot li{
	float: left;
}
.ui-wrapper  .wrapper-icon{
	position: relative;
}
.ui-wrapper  .wrapper-icon .wrapper-left-img{
	position: absolute;
	overflow: hidden;
    width: 41px;
    height: 69px;
    background: url(../img/icon-slides.png) no-repeat -84px 50%;
    z-index: 10;
    top:-310px;
 }
 .ui-wrapper  .wrapper-icon .wrapper-left-img:hover{
 	background: url(../img/icon-slides.png) no-repeat 0px 50%;
 }

.ui-wrapper  .wrapper-icon .wrapper-right-img{
	position: absolute;
	overflow: hidden;
    width: 41px;
    height: 69px;
    background: url(../img/icon-slides.png) no-repeat -125px 50%;
    z-index: 10;
    top:-310px;
    right: 0px;
 }
.ui-wrapper  .wrapper-icon .wrapper-right-img:hover{
  	background: url(../img/icon-slides.png) no-repeat -42px 50%;
  }
.iteam-title{
	    position: relative;
}
.iteam-title h2{
	line-height: 64px;
    margin: 0;
    padding-top: 4px;
    color: #333;
    font-size: 24px;
    font-weight: normal;
}

.oneIteam{
	height: 434px;
	margin-bottom: 15px;
}
.oneIteam .oneIteam-img{
	float: left;
	width: 856px;
}
.oneIteam .oneIteam-img img{
	width: 856px;
	height: 434px;
}
.oneIteam .oneIteam-name{
	width: 370px;
	height: 434px;
	float: left;
	background: white;
}
.oneIteam .oneIteam-name .oneIteam-name-box {
	margin-left: 60px;
	margin-top: 100px;
	position: relative;
}
.oneIteam .oneIteam-name .oneIteam-name-box .product-name a{
	color: rgba(51,51,51,0.9);
    font-size: 32px;
    font-weight: 400;
}
.oneIteam .oneIteam-name .oneIteam-name-box .dece{
	width: 270px;
    line-height: 22px;
    min-height: 44px;
    margin: 4px 0 0;
    color: rgba(51,51,51,0.7);
    font-size: 14px;
}
.oneIteam .oneIteam-name .oneIteam-name-box .price{
	color: #ff6700;
	font-size: 12px;
}
.oneIteam .oneIteam-name .oneIteam-name-box .price>span{
	font-weight: 400;
	font-size: 34px;
}
.oneIteam .oneIteam-name .oneIteam-name-box .link{
	position: absolute;
    left: 0;
    bottom: -130px;
}
.oneIteam .oneIteam-name .oneIteam-name-box .link a{
    line-height: 22px;
    color: rgba(51,51,51,0.7);
    font-size: 14px;
}
.two-Iteam{
		margin-bottom: 15px;
}
.two-Iteam .iteam-one{
	float: left;
	height: 100%;
	margin-left: 15px;
}

.two-Iteam .iteam-one .iteam-img{
	height: 100%;
}
.two-Iteam .iteam-one .iteam-img img{
	width: 598px;
	height: 360px;
	
}
.two-Iteam .iteam-one .twoIteam-name{
	height: 125px;
	width: 100%;
	background: white;
	position: relative;
	
}
.two-Iteam .iteam-one .twoIteam-name .twoIteam-name-mar{
	padding-left: 50px;
	padding-top: 40px;
}
.two-Iteam .iteam-one .twoIteam-name .twoIteam-name-mar>p>a{
	font-size: 24px;
}
.two-Iteam .iteam-one .twoIteam-name .twoIteam-name-mar>span{
    color: rgba(51,51,51,0.7);
    font-size: 14px;
 }
 .two-Iteam .iteam-one .twoIteam-name .pirce{
 	position: absolute;
 	right: 45px;
 	color: #ff6700;
 	font-size: 12px;
 	top: 50px
 }

 .two-Iteam .iteam-one .twoIteam-name .pirce>span{
 	font-size: 32px;
 }
