body {
	color: #333;
	background-color: #fff;
	min-width: 1226px;
	margin: 0px;
	min-height: 2000px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	
}
input{
	outline:none;
}
.dangdang-all li {
	background-color: rgb(245, 245, 245);
}

a {
	color: #333333;
	text-decoration: none;
}
.mb22{
	margin-bottom: 22px;
}
.pdb20{
	padding-bottom: 40px;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0px;
	line-height: 0px;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
	/* 为了兼容ie浏览器 */
}

.nav-top {
	width: 100%;
	position: relative;
	height: 40px;
	font-size: 12px;
	color: #b0b0b0;
	background: #333;
}

.nav-top>.nav-list {
	width: 1226px;
	margin: 0px auto;
}

.nav-top>.nav-list>.nav-list-left {
	line-height: 40px;
	float: left;
}

.nav-top>.nav-list span {
	color: #3c423c;
	margin: 3px;
}

.nav-top>.nav-list a {
	color: #b0b0b0;
	text-decoration: none;
}

.nav-top>.nav-list a:hover {
	color: white;
}

.nav-top>.nav-list>.nav-list-right {
	line-height: 40px;
	float: right;
}

#shopcar {
	width: 120px;
	display: inline-block;
	text-align: center;
	margin-left: 25px;
	background: #424242 url(../img/car.png) 8px 13px no-repeat;
	background-size: 18%;
}

#shopcar :hover {
	color: rgb(255, 103, 0);
	background: white url(../img/car2.png) 8px 13px no-repeat;
	background-size: 18%;
}

.car {
	display: inline-block;
	width: 120px;
	height: 40px;
}

#shopcar :hover .wit {
	height: 80px;
	z-index: 2;
}

.wit {
	width: 281px;
	background: whitesmoke;
	position: absolute;
	/*display: block;*/
	transition: all .30s ease-in-out;
}

.guide-all {
	width: 100%;
	height: 100px;
	position: relative;
}
.header-logo{
	float: left;
	margin-top: 22px;
	margin-right: 66px
	
}
.logo {
	display: block;
	background: url(../img/logo.png) 0px 0px no-repeat;
	width: 55px;
	height: 55px;

}

.guide-all>.guide-all-list {
	width: 1226px;
	color: #333333;
	font-size: 16px;
	margin: 0 auto;
	position: relative;
}
.guide-all>.guide-all-list .mi-iteam-more{
	position: relative;
	height: 100px;
	float: left;
}
.guide-all>.guide-all-list .mi-iteam-more:hover ~.home-display-left.iteam-left{
	display: block;
}

.guide-all>.guide-all-list .mi-iteam-more>a{
	line-height: 100px;
	width: 128px;
	padding: 0 14px 0 14px;
	text-align: center;
	font-size: 16px;
}

.guide-all>.guide-all-list>ul>li>a{
	font-size: 16px;
}
.mi{
	position: relative;
}

.mi:hover ~.mi-bg{
	height: 230px;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
	border-top: 1px solid #e0e0e0;
}
.mi-iteam{
	position: relative;
    float: left;
    width: 179px;
    padding: 30px 12px 0;
    text-align: center;
    display: list-item;
    height: 200px;	

}

.mi-iteam>p{
	margin-bottom: 5px;
}
.mi-iteam>.border-maker>a{
	display: inline-block;
	width: 160px;
}
.border-maker{
	border-right: 1px solid #e0e0e0;
	width: 179px;
}
.border-maker-last-child>a{
	display: inline-block;
	width: 160px;
}
.border-maker-last-child{
	border-right: 0px solid #e0e0e0;
	width: 179px;
}
.mi-iteam>p>a{
	font-size: 12px;
}
.mi-iteam-price{
	margin-top: 10px;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	
}
.mi-iteam>.border-maker>a>img{
	width: 160px;
    height: 110px;
}
.border-maker-last-child>a>img{
	width: 160px;
    height: 110px;
}
.mi-bg:hover{
	height: 230px;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    border-top: 1px solid #e0e0e0;
}
.mi-bg{
	overflow: hidden;
	position: absolute;
	height: 0px;
	z-index: 50;
	left: 0px;
	top:100px;
	width: 100%;	
	background: white;
	transition: all.30s ease-in-out;
	border-top: 0px solid #e0e0e0;
}
.mi-bg-center{
	width: 1226px;
	margin: auto;
}
.guide-all>.guide-all-list>ul {
	padding: 0px;
	display: inline-block;
	height: 100px;
	float: left;
	font-size: 16px;
	margin: auto;
}

.guide-all>.guide-all-list>ul>li {
	float: left;
	display: block;
	height: 100px;
}

.guide-all>.guide-all-list>ul>li :hover {
	color: rgb(255, 103, 0);
}

.guide-all>.guide-all-list>ul>li a {
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	line-height: 100px;
}

.Miresearch {
	float: right;
    width: 295px;
    height: 54px;
	margin-top: 25px;
	position: relative;
}
.Miresearch:hover .Misubmit{
	border-color: #B0B0B0;
}
.Miresearch:hover .Mir{
	border-color: #B0B0B0;
}

/*.Miresearch .Mir:focus~#Miresearch-list{
	display: inline-block;
}同级引入 */ 
.Mir {
	height: 52px;
	width: 240px;
	border: 1px solid ;
	border-color: #e0e0e0;
	margin: 0px;
	padding: 0px;
	float: left;
	transition: all.30s ease-in-out;
}
.Miresearch .Mir.Mir-on1{
	border-color: #FF6700;
}
.Miresearch .Misubmit.Mir-on{
	border-top: 1px solid #FF6700;
	border-bottom: 1px solid #FF6700;
	border-right: 1px solid #FF6700;
}

.words {
	display: block;
	position: absolute;
	top: 15px;
	right: 61px;
	opacity: 1;
	transition: all.30s ease-in-out;
}

.words a {
	color: #757575;
	background-color: #eee;
	font-size: 12px;
	padding: 0px 5px;
	margin-right: 5px;

}

.words a:hover {
	color: #fff;
	background-color: #FF6700;
}

.Misubmit {
	height: 52px;
	width: 52px;
	border: 1px solid #e0e0e0;
	border-left: none;
	margin: 0px;
	padding: 0px;
	float: left;
	background: url(../img/r1.png)0px 0px no-repeat;
	background-position: center center;
	transition: border.30s ease-in-out;
}

.Misubmit:hover {
	background: url(../img/r2.png)0px 0px no-repeat;
	background-position: center center;
	background-color: rgb(255, 103, 0);
}

.home {
	position: relative;
}

.home>.home-display {
	margin-bottom: 15px;
	position: relative;
	height: 460px;
	width: 1226px;
	margin: auto;
	/*background: url(../img/p3.jpg) no-repeat;*/
	background-size: 1226px;
}
.home-add{
    margin: 15px auto;
	width: 1226px;
  
}
.home-add>.home-ad-left{
	width: 234px;
	float: left;
}    
.home-ad-left-ul{
	padding: 3px;
	background: #5f5750;
}
.home-ad-left-li{	
	text-align: center;
	position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    background: url(../img/add2.png)0 0 no-repeat;
    background-position-x: center;
    background-position-y: 20px;
}
.home-ad-left-li:hover{
	background: url(../img/add1.png)0 0 no-repeat;
    background-position-x: center;
    background-position-y: 20px;
}
.home-ad-left-li:hover a{
	color: rgb(255,255,255);
}
.home-ad-left-li a{
		display: block;
	    color: rgba(255,255,255,0.7);
	    padding-top: 50px;
}
.home-ad-iteam{
	width: 315px;
	height: 170px;
	margin-left: 15px;
	float: left;
}
.home-ad-iteam a{
	widows: 315px;
	display: block;
}
.home-ad-iteam>a>img{
	widows: 315px;
	height: 170px;
}
.home>.home-display>.home-display-img{
	display: inline-block;
	height: 460px;
	width: 1226px;
	position: absolute;
}
.home>.home-display>.home-display-img.no{
	display: none;

}
.home>.home-display>.home-display-img img{
	height: 460px;
	width: 1226px;
}

.home-display-left {
	position: absolute;
	width: 234px;
	height: 460px;
	background: rgba(0, 0, 0, 0.6);
	top:0px;
	z-index: 50;
}
.home-display-left.iteam-left {
	display: none;
	position: absolute;
	width: 233px;
	height: 459px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid #ff6700;
	top:100px;
	z-index: 40;
}
.iteam-left:hover{
	display: block;
}
.home-display-left.iteam-left>ul>li>a{
	color: #424242;
}
.home-display-left>.home-display-left-list {
	padding: 20px 0px;
}

.title {
	position: relative;
	display: block;
	padding-left: 30px;
	height: 42px;
	line-height: 42px;
	color: rgb(255, 255, 255);
	font-size: 14px;
}

.title-icon {
	position: absolute;
	color: rgba(255, 255, 255, 0.5);
	font-weight: bolder;
	top: 12px;
	right: 20px;
	font-size: 16px;
	line-height: 16px;
	color: #e0e0e0;
	
}

.icon-left {
	position: absolute;
	left: 234px;
	top: 40%;
	overflow: hidden;
	width: 41px;
	height: 69px;
	background: url(../img/icon-slides.png) no-repeat -84px 50%;
	z-index: 10;
}

.icon-left:hover {
	background: url(../img/icon-slides.png) no-repeat 0px 50%;
}

.icon-right {
	position: absolute;
	right: 0px;
	top: 40%;
	overflow: hidden;
	width: 41px;
	height: 69px;
	background: url(../img/icon-slides.png) no-repeat -125px 50%;
	z-index: 10;
}

.icon-right:hover {
	background: url(../img/icon-slides.png) no-repeat -42px 50%;
}

.title:hover {
	background-color: rgb(255, 103, 0);
}

.test:hover .iteam-display {
	display: inline-block;
}
/*其他页面下导航栏覆盖字体变白色*/
.test.out:hover .title{
	color: white;
}
.test {
	z-index: 99;
}

.dot-list {
	position: absolute;
	display: inline-block;
	z-index: 10;
	bottom: 25px;
	right: 30px;
}

.dot-iteam {
	display: inline-block;
	float: right;
	width: 6px;
	height: 6px;
	margin: 0 5px;
	border: 2px solid #fff;
	border-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	background: #f5f5f5;
	background: rgba(0, 0, 0, 0.4);
	transition: all .20s ease-in-out;
}
.dot-list li{
	display: inline-block;
	float: left;
}

.dot-iteam.active {
	background: rgba(234, 227, 217, 0.4);
	border-color: #757575;
}

.test>.iteam-display {
	display: none;
	position: absolute;
	top: 0px;
	left: 234px;
	width: 990px;
	height: 458px;
}

.iteam-list {
	position: absolute;
	overflow: hidden;
	height: 458px;
	display: inline-block;
	background: white;
	z-index: 20;
	border: 1px solid;
	border-color: rgba( 224, 224, 224, 0.5);
	box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
}

.iteam-list li {
	text-align: center;
	display: block;
	float: left;
}

.iteam {
	display: inline-block;
	height: 77px;
	width: 247px;
	line-height: 77px;
	background: url(../img/phone.png) no-repeat;
	background-position: 45px 15px;
	font-size: 12px;
}

.iteam:hover {
	color: rgb(255, 103, 0);
}

.guider-list {
	position: fixed;
	right: 0px;
	z-index: 999;
	top: 30%;
}

.guide-list-li:first-child {
	border: 1px solid #f5f5f5;
	position: relative;
	display: block;
	width: 82px;
	height: 90px;
	list-style: none;
}
.guide-list-li:last-child{
	border-top: 1px solid #f5f5f5;
	margin-top: 15px;

}

.guide-list-li {
	border: 1px solid #f5f5f5;
	position: relative;
	display: block;
	width: 82px;
	height: 90px;
	list-style: none;
	border-top: none;
	background: white;
}

.guide-iteam {
	height: 100%;
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgb(153, 153, 153);
}

.guide-iteam:hover {
	color: rgb(255, 103, 0);
}

.guide-iteam:hover .pic1 {
	display: none;
}

.guide-iteam:hover .pic2 {
	display: block;
}

.guide-iteam:hover .guide-left {
	display: block;
}

.pic2 {
	display: none;
}

.guide-iteam p {
	margin: 8px 0 0 0;
}

.guide-iteam-img {
	position: relative;
	width: 30px;
	height: 30px;
	padding-top: 20px;
	margin: 0 0 0 27px;
	padding-top: 20px;
}

.guide-iteam-img img {
	width: 30px;
	height: 30px;
}

.guide-left {
	display: none;
	position: absolute;
	left: -137px;
	top: 0px;
	height: 187px;
}

.ma-pic {
	display: inline-block;
	float: left;
	height: 187px;
	background: #fff;
	border: 1px solid #f5f5f5;
}

.ma-pic img {
	height: 100px;
	width: 100px;
	margin: 20px 14px;
}

#ma-p {
	width: 83px;
	margin: -10px auto 0;
	color: rgb(153, 153, 153);
}

.ma-icon {
	display: inline-block;
	float: left;
	width: 11px;
	height: 187px;
	margin-left: -2px;
	background: url(../img/icond-right.png) no-repeat 0px 0px;
	background-position-y: 40px;
}

#Miresearch-list{
	display: none;
	position: absolute;
	width: 240px;
	left: 0;
    top: 54px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
    z-index: 99;
}
#Miresearch-list a{
	position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
#Miresearch-list a:hover{
	background-color: rgb(250,250,250);
}
.page-main{
	background: #f5f5f5;
	min-height: 500px;
}
.page-center{
	padding-top: 22px;
	width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.page-main-head{
	position: relative;
	height: 58px;

}
.page-main-head>h2{
	margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    display: inline-block;
}
.page-main-head-right{
	padding-top: 16px;
	height: 58px;
	float: right;
}
.page-main-head-right>a{
	float:left ;
	margin-left: 30px;
	font-size: 18px;
	color: #424242;
	transition: all.4s ease-in-out;
	border-bottom: 2px solid rgba(255,255,255,0);
}

/*选择卡选项*/
.page-main-head-right>a.page-main-head-righ-a-on{
	color: rgb(250,103,0);
	border-bottom: 2px solid rgb(255,103,0);
	
}
.product-left{
	float: left;
	display: inline-block;
}
.product-left li{
	height: 296px;
	overflow: hidden;
	margin: 0 0 14px 0px;
}
.product-left img{
	width: 235px;
	height: 300px;
}
.off{
	display: none;
}
.product-mid{
 display: none;
}
.product-mid.on{
/*	overflow: hidden;*/
	display: inline-block;
	width: 990px;
	

}
.product-mid-show{
	padding-top: 24px;
	padding-bottom: 20px;
	margin: 0 0 14px 14px;
	height: 252px;
	width: 233px;
	overflow: hidden;
	background: white;
	float: left;
	position: relative;
}
.product-mid-show.recommend{
	margin: 0 14px 14px 0px;
	height: 266px;
	width: 234px;
	overflow: hidden;
	background: white;
	float: left;
	position: relative;
}
.product-mid-show:hover .product-mid-show-down{
	bottom: 0px;
	opacity: 1;
}
.product-mid-show>.product-mid-show-down{
	position: absolute;
	bottom: -75px;
	background-color: rgb(255,103,0);
	height: 75px;
	width: 100%;
	transition: all.3s ease-in-out;
	opacity: 0;
}
.product-mid-show>.product-mid-show-down>a>.review{
	color: white;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-left: 30px;
	font-size: 12px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.product-mid-show>.product-mid-show-down>a>.author{
	display: block;
	padding-left: 30px;
	font-size: 12px;
	color: rgba(255,255,255,0.6);
	overflow: hidden;
    text-overflow: ellipsis;
}
.product-flag{
	position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    z-index: 10;
}
.flag-green{
    background-color: #83c44e;
}
.flag-red{
    background-color: #e53935;
}

.product-mid-show-a{
	width: 150px;
	height: 150px;
	margin: 0 auto 18px;
	overflow: hidden;
	display: block;
}
.product-mid-show-a>img{
	width: 150px;
	height: 150px;

}
.product-mid-show-name{
	color: #333;
	margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.product-mid-show-name-deatil{
    margin: 0 0px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.product-mid-show-name-price{
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}
.product-mid-show-name-price del{
    color: #b0b0b0;
}
.all-product{
	display: inline-block;
}
.product-mid-show-s{
	height: 93px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 10px;
    background: #fff;
    text-align: left;
}
.product-mid-show-s-img{
	position: absolute;
	right: 20px;
    top: 32px;
	width: 80px;
	height: 80px;
	display: inline-block;
}
.product-mid-show-s-img img{
	width: 80px;
	height: 80px;
}
.product-mid-show-name-s{
    color: #333;
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.product-mid-show-name-price-s{
	font-size: 12px;
	margin: 10px 110px 5px 30px;
    text-align: letf;
    color: #ff6700;
}

.product-mid-show-s-icon{
	position: absolute;
    right: 35px;
    top: 45px;
    width: 80px;
    height: 80px;
    display: inline-block;
	width: 50px;
	height: 50px;
}

.product-mid-show-s-icon-detil{
	display: inline-block;
	    margin: -10px 110px 5px 30px;
}
.product-mid-show-s-icon-detil h3{
	margin: 0px;
	padding: 0px;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.product-mid-show-s-icon-detil span{
	font-size: 12px;
	color: #757575;
	display: block;
	margin-top: 5px;
}
.shadow-box{
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	transition: all.3s ease-in-out;
	position: relative;
	bottom: 0px;
}
.shadow-box:hover{
	box-shadow: 0px 6px 20px rgba(0,0,0,0.3);
	bottom: 3px;
}

.page-add{
	margin:20px 0;
	width: 100%;
}
.page-add a{
	display: block;
	height: 120px;
	width: 1226px;
}
.page-add img{
	height: 120px;
}
.page-recommend{
	margin-bottom: 25px;
	height: 358px;
}
.page-recommend-head-icon{
	display: inline-block;
	float: right;
	line-height: 58px;
}
.page-recommend-head-icon a{
	display: inline-block;
	width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 16px;
   }
.xm-recommend-price{
	margin-bottom: 10px;
    color: #ff6700;
}
.xm-recommend-tips{
	    color: #757575;
}
.page-recommend-list>ul{
	width: 4960px;
    margin-left: 0px;
    transition: margin-left 0.5s ease 0s;
   margin-bottom: 10px;
}
.page-recommend-list{
	overflow: hidden;
}
.page-recommend-head-icon-left{
	background: url(../img/left.png) 4px 3px no-repeat;
}
.page-recommend-head-icon-left:hover{
	background: url(../img/left1.png) 4px 3px no-repeat;
}
.page-recommend-head-icon-right{
	background: url(../img/right1.png) 5px 3px no-repeat;
}
.page-recommend-head-icon-right:hover{
	background: url(../img/right2.png) 4px 3px no-repeat;
}
.page-hot-box-ul{
	width: 100%;
    height: 415px;
}
.page-hot-box-li{
	position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.page-hot-box-li:first-child{
	margin-left: 0px;
}
.page-hot-box-li>a{
	width: 296px;
    height: 220px;
	display: inline-block;
	margin: 0 0 28px;
}
.page-hot-box-li>a>img{
	width: 296px;
	height: 220px;
}
.page-hot-box-li-p-name{
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
    color: #333;
}
.page-hot-box-li-p-author{
	margin-left: 28px;
	margin-right: 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.page-hot-box-li-p-product{
	margin-left: 30px;
}
.page-hot-box-li-p-product span{
	font-size: 14px;
}
.page-hot-box-li-p-product a{	
	display: inline-block;
	margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    color: #333;
}
.le{
	    color: #e0e0e0;
}

.page-content-ul{
	width: 1226px;
	height: 420px;
}
.page-content-ul-list{
	display: inline-block;
	float: left;
	padding-top: 45px;
	width: 296px;
	height: 374px;
	text-align: center;
	background: white;
	margin: 0 0 14px 14px;
}
.page-content-ul-list:first-child{
	margin-left: 0px;
}
.page-content-ul-list>h2{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.page-content-ul-list:hover .page-content-ul-list-iconLeft{
	opacity: 0.5;
}
.page-content-ul-list:hover .page-content-ul-list-iconRight{
	opacity: 0.5;
}
.page-content-ul-list.book{
	border-top: 1px solid #ffac13;
	color: #ffac13;
}
.page-content-ul-list.miui{
	border-top: 1px solid #83c44e;
    color: #83c44e;
}
.page-content-ul-list.game{
	border-top: 1px solid #e53935;
	    color: #e53935;
}
.page-content-ul-list.app{
	border-top: 1px solid #2196f3;
	    color: #2196f3;
}
.page-content-ul-list-iconLeft{
	position: absolute;
	top: 50%;
	left: 0px;
	width: 20px;
	height: 50px;
	transition: all.3s ;
	opacity: 0;
	background: url(../img/Mi-icon-left.png);
}
.page-content-ul-list>.page-content-ul-list-iconLeft:hover{
	opacity: 1;
}
.page-content-ul-list-iconRight{
	position: absolute;
	top: 50%;
	right: 0px;
	width: 20px;
	height: 50px;
	transition: all.3s;
	opacity: 0;
	background: url(../img/Mi-icon-right.png);
}
.page-content-ul-list>.page-content-ul-list-iconRight:hover{
	opacity: 1;
}
.page-content-ul-li-list{
	width: 100%;
	overflow: hidden;
}
.page-content-ul-li-list>ul{
	height: 340px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    color: #333;
}
.page-content-ul-li-list>ul>li{
		position: relative;
		display: inline-block;
		float: left;
		width: 296px;
		height: 100%;
}
.page-content-ul-li-list>ul>li>h2{
		text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
		margin: 0 20px 5px;
	    font-size: 20px;
	    font-weight: 400;
	    text-align: center;
}
.page-content-ul-li-list>ul>li>h3{
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    
}
.page-content-ul-li-list>ul>li>p{
		margin: 0 48px 10px;
	    height: 40px;
	    font-size: 12px;
	    line-height: 20px;
	    font-weight: 400;
	    text-align: center;
	    overflow: hidden;
}
.page-content-ul-li-list>ul>li>p>a{
		color: #b0b0b0;
}
.page-content-ul-li-list-iteam a{
	    display: inline-block;
    	height: 154px;
}
.page-content-ul-li-list-iteam img{
	width: 216px;
	height: 154px;
}
.page-content-ul-li-list-dot{
	position: absolute;
	width: 296px;
	left: 0px;
	text-align: center;
}
.page-content-ul-li-list-dot a{
	display: inline-block;
	width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
    cursor: default;
}
.page-content-ul-li-list-dot a:hover span{
	background-color: #ff6700;
}

.page-content-ul-li-list-dot>a>span{
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    border-radius: 6px;
    text-align: left;
    overflow: hidden;
    background-color: #b0b0b0;
    transition: all .5s;
    cursor: pointer;
}

.page-content-ul-li-list-dot>a>span.page-content-ul-li-list-dot_on{
	cursor: default;
	border-color: #ff6700;
	background: white;
}
.page-vidio{
	padding-bottom: 60px;
}

.page-vidio-head-more{
	display:block;
	position: absolute;
	top: 0;
    right: 0;
}
.page-vidio-head-more a{
	font-size: 20px;
    line-height: 58px;
    color: #424242;
    transition: all .4s;
    display: block;
}

.page-vidio-head-more a:hover{
	color: #ff6700;
}
.page-vidio-head-more a:hover .page-vidio-head-more-a-p{
	background-color:#ff6700;
}
.page-vidio-head-more-a-p{
	transition: all .4s;
	margin-left: 8px;
	display: inline-block;
	background:#b0b0b0 url(../img/more.PNG)no-repeat 6.5px 4px;
	padding: 4px;
    width: 12px;
    height: 12px;
	border-radius: 10px;
	margin-top: 19px;
	float: right;
}
.page-vidio-list-ul{
	width: 1240px;
	
}
.page-vidio-list-li{
	float: left;
	display: inline-block;
	background: white;
	height: 285px;
	position: relative;
	margin-left: 14px;
	margin-bottom: 14px;
}
.page-vidio-list-li:first-child{
	margin-left: 0;
}
.page-vidio-list-li>a{
	width: 296px;
	display: block;
	margin-bottom: 35px;
}
.page-vidio-list-li>a>img{
	width: 296px;
	height: 180px;
}
.page-vidio-list-li>a:hover ~ .page-vidio-icon{
	background-color: #ff7600;
	border-color: #ff7600;
}
 .page-vidio-icon:hover{
 	background-color: #ff7600;
	border-color: #ff7600;
 }
.page-vidio-list-li-p{
	text-align: center;
	color: #333;
	font-size: 14px;
}
.page-vidio-list-li>span{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #b0b0b0;
}
.page-vidio-icon{
	position: absolute;
	left: 20px;
    top: 145px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    transition: all.3s ease-in-out;
    background: url(../img/play.PNG)no-repeat 12px 4px;
    cursor: pointer;
}
.foot{
	background: white;
	width: 100%;
	min-height:  200px;
}
.foot>.foot-center{
	width: 1226px;
	margin-right: auto;
    margin-left: auto;
}
.footer-service{
	padding: 27px 0;
	border-bottom: 1px solid #e0e0e0;
}

.foot-service-li{
 	float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    
    line-height: 25px;
    text-align: center;
 }
 .foot-service-li a{
 	color:  #616161;
 	font-size: 16px;
    line-height: 16px;
 }
  .foot-service-li a:hover{
  	color: #ff6700;
  }

 .foot-service-li:first-child{
 	border-right: 1px solid #e0e0e0;
 	border-left: 0px solid #e0e0e0;
 }
 
  .footer-list>dl{
  	padding: 40px 0px;
  	display: inline-block;
  	float: left;
    width: 160px;
    height: 112px;
    margin: 0;
  }
 .footer-list>dl>dt{ 
 	color: #424242;
 	margin-bottom: 30px;
 	font-size: 14px;
 	
 }
 .footer-list>dl>dd{
 	margin-left: 0px;
	margin-bottom: 10px;
 }
 
  .footer-list>dl>dd>a{
	color: #757575;
 	font-size: 12px;
 }
  .footer-list>dl>dd>a:hover{
  	color: #ff6700;
  }
.footer-service-phone{
	margin-top: 40px;
	display: block;
	width: 251px;
	height: 112px;
	float: right;
	border-left: 1px solid #e0e0e0;
}
.footer-service-phone>.phone-p{
	text-align: center;
	margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.footer-service-phone>.time-p{
	text-align: center;
	margin: 0 0 16px;
    font-size: 12px;
}
.footer-service-phone>.call{
	line-height: 30px;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	display:block;
	width: 120px;
	height: 30px;
	border: 1px solid #ff6700;
	margin: 0 auto;
	transition: all.30s ease-in-out;
}
.footer-service-phone>.call:hover{
	color: white;
	background-color: #ff6700;
}

.footer-info{
	background: #FAFAFA;
}
.footer-info .container{
	position: relative;
	padding: 30px 0px 30px 125px
}
.footer-info .logo-foot{
	width: 55px;
	height: 55px;
	background: #FF6700 url(../img/mi-logo.png) no-repeat center center;
	position: absolute;
	top:31px;
	left:60px
}
.footer-info .box a,.footer-info .box span{
	font-size: 12px;
	color:#757575;
	float: left;
	height: 12px;
	line-height: 13px;
}
.footer-info .box span{
	margin: 0px 3px;
}
.footer-info p{
	font-size: 12px;
	color: #B0B0B0;
}
.footer-info .logolist{
	margin-bottom: 30px;
}
.footer-info .logolist img{
	width: 83px;
	height: 28px;
	
}
.footer-info .mi{
	height: 20px;
	background: url(../img/slogan2016.png) no-repeat center center;
}