h1{
	text-align:center;
	}
.title1{
		color: #9999a5;
		font-size:16px; 		
}
.title2{
		color: red;
		font-size:16px; 		
}
.title{
	width: 800px;
	text-align:center;
	margin: auto;
	padding-bottom: 8px;
	border-bottom:1px solid #9a9a9a;
}
.research{
	width: 173px;
	color: red;
}
.button{
	color: green;	
	font-size: 14px;
}
.iteam{
	margin: auto;
	width: 800px;
	text-indent:2em;
	font-size: 16px;
	line-height: 30px;

}
