body {
    background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
    -webkit-user-select: none;
    height: 100vh;
    overflow: hidden;
}

.main {
    width: 1080px;
    background-color: white;
    margin: 100px auto;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}


/*头部*/

.main .heard {
    height: 100px;
    padding: 30px;
    background-color: #f73859;
}

.main .heard .title {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}

.main .heard .title span {
    color: #7ac7c4;
}

.main .heard .detil {
    font-size: 24px;
    font-weight: normal;
    color: #EEEEEE;
}

.main .heard .detil span {
    color: #7ac7c4;
}


/*头部end*/


/*中部*/

.mid {
    height: 168px;
    padding: 80px 80px;
    position: relative;
}

.mid .list li {
    /*	height: 150px;*/
    float: left;
    width: 50px;
    /*	overflow: hidden;*/
    /*	z-index: 1px;*/
    margin: 0px 40px;
    position: relative;
}

.mid .list li .Vip {
    font-size: 24px;
    color: #D33134;
}

.mid .list li .Vip img {
    width: 33px;
    vertical-align: bottom;
}

.mid .list li .bot {
    height: 30px;
    width: 30px;
    background-color: #BEBEBE;
    color: #BEBEBE;
    border-radius: 50%;
    margin: 35px auto;
    line-height: 30px;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}

.mid .list li.active .bot {
    background-color: #f73859;
    color: white;
}

.mid .list li.readd .bot {
    background-color: #f73859;
    color: white;
}

.mid .list li .day {
    text-align: center;
    font-size: 26px;
    font-weight: normal;
}

.mid .list li .last {
    width: 33px;
    padding: 0px 8px;
}

.mid .list li .last img {
    display: block;
    width: 33px;
}

.mid .list li .hr {
    height: 1px;
    border: none;
    border-top: 5px dashed #BEBEBE;
    position: absolute;
    top: 73px;
    left: -90px;
    width: 100px;
}

.mid .list li .hr.active {
    border-top: 5px dashed #f73859;
}


/*中部end*/


/*尾部*/

.main .btn {
    width: 450px;
    height: 100px;
    border-radius: 20px;
    background-color: #f73859;
    color: white;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    line-height: 100px;
    margin: 15px auto;
    cursor: pointer;
    transition: all .75s ease-in-out;
}

.main .btn:hover {
    background-color: #fe012d;
}

.main .btn.active {
    cursor: default;
    color: #808080;
    background-color: #BEBEBE;
}

.main .btn2 {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff6300;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.main .btn2.active {
    background-color: #BEBEBE;
    cursor: default;
}


/*尾部end*/