body {
    height: 100vh;
    background: linear-gradient(#6c7b95 0%, #c7f0db 50%, #6c7b95 100%);
}

.chat .box {
    position: fixed;
    width: 400px;
    background-color: #fff;
    border: 1px solid #4382EF;
    margin: 0 auto;
    left: 0;
    top: 200px;
    right: 0;
    padding: 15px;
}

.box2 {
    position: fixed;
    width: 400px;
    background-color: #fff;
    border: 1px solid #4382EF;
    margin: 0 auto;
    left: 0;
    top: 200px;
    right: 0;
    padding: 15px;
}

.logo {
    width: 60px;
    margin: 0 auto;
}

.group {
    margin-top: 20px;
}

.user-ipt {
    display: block;
    width: 380px;
    height: 32px;
    padding: 0 10px;
    background-color: #f5f5f5;
}

.chat-box {
    width: 650px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(54, 57, 63, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    border-radius: 10px;
    display: none;
}

.chat-box>.nav {
    height: 30px;
    background-image: linear-gradient(to right, #478EFA 0%, #26D2FF 100%);
    padding: 5px 15px;
    position: relative;
}

.nav>.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
}

.nav-left {
    width: 220px;
}

.nav-left>.search {
    width: 170px;
    height: 24px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 8px;
    padding: 3px 5px;
}

.search-icon {
    width: 24px;
    height: 24px;
    background: url(../img/search.png) no-repeat 0 0;
    background-size: cover;
}

.search-ipt {
    width: 136px;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}

.add {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-top: 3px;
    background-color: rgba(0, 0, 0, .15);
    position: relative;
    border-radius: 4px;
}

.add .add_friend {
    position: absolute;
    width: 320px;
    height: 110px;
    top: 25px;
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding: 20px 40px;
    background-image: url(../img/addf.gif);
    background-size: cover;
    background-position-y: -30px;
}

.add .add_friend>p {
    text-align: center;
    margin-bottom: 20px;
}

.add .add_friend>p span {
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    color: #0188FB;
    margin: 0px 15px;
}

.add .add_friend>p span.active {
    border-bottom: 2px solid #FFFFFF;
    color: white;
}

.add .add_friend .add_inp {
    width: 210px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    margin-right: 8px;
    background: rgba(255, 255, 255, 0.5);
}

.add .add_friend .find_btn {
    display: block;
    height: 30px;
    width: 60px;
    background-color: #0188FB;
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.add-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background: url(../img/add.png) no-repeat 0 0;
    background-size: cover;
    cursor: pointer;
}

.nav-right {
    width: 400px;
    height: 30px;
}

.close {
    width: 24px;
    height: 24px;
    margin-top: 3px;
    background: url(../img/close.png) no-repeat 0 0;
    background-size: cover;
    cursor: pointer;
}

.chat-bottom {
    height: 440px;
}

.chat-left {
    width: 194px;
    height: 440px;
    border-right: 1px solid #ddd;
    overflow: hidden;
}

.friend-list>li {
    padding: 15px;
    position: relative;
}

.noRead:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: greenyellow;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.user-img {
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-text {
    font-size: 13px;
    color: #666;
    margin-left: 15px;
    width: 107px;
}

.user-name {
    margin-bottom: 6px;
    color: #333;
}

.friend-list {
    height: 440px;
    overflow-y: auto;
}

.friend-list>li>.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: #12B7F5;
    display: none;
}

.friend-list>li.active {
    background-color: #f2f2f2;
}

.friend-list>li.active>.line {
    display: block;
}

.innerbox::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 2px;
    /*高宽分别对应横竖滚动条的尺寸*/
}

.innerbox::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.4);
}

.innerbox::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}

.friend-list>li.active {
    background-color: #f2f2f2;
}

.friend-list>li.active>.line {
    display: block;
}

.chat-right {
    height: 440px;
    width: 455px;
    display: none;
}

.chat-content {
    height: 310px;
    overflow-y: auto;
}

.chating {
    height: 119px;
    border-top: 1px solid #f2f2f2;
    padding: 5px;
}

.chating>.icons>li {
    float: left;
    width: 20px;
}

.input-content {
    margin-top: 5px;
    display: block;
    height: 60px;
    resize: none;
    width: 100%;
    outline: none;
    overflow-y: auto;
}

.btn {
    width: 60px;
    height: 26px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    border-radius: 4px;
    margin-top: 6.5px;
    cursor: pointer;
}

.close-btn {
    border: 1px solid #ddd;
    color: #999;
}

.send-btn {
    margin-left: 15px;
    background-color: #12B3EF;
    color: #fff;
}

.login-text {
    cursor: pointer;
    color: #4382EF;
}


/*聊天气泡*/

.other {
    padding: 10px 10px;
}

.avatar {
    width: 34px;
    border-radius: 50%;
    overflow: hidden;
}

.l-bubble {
    margin-left: 10px;
    background-color: #f2f2f2;
}

.bubble {
    max-width: 250px;
    margin-top: 15px;
    position: relative;
    padding: 5px;
    border-radius: 4px;
    min-height: 20px;
    min-width: 30px;
}

.l-caret {
    left: -10px;
    border-right: 5px solid #f2f2f2;
    border-left: 5px solid transparent;
}

.caret {
    position: absolute;
    top: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.r-caret {
    right: -10px;
    border-right: 5px solid transparent;
    border-left: 5px solid #3AA6FB;
}

.r-bublle {
    margin-right: 10px;
    background-color: #3AA6FB;
}


/*好友申请框*/

.friend-apply {
    text-align: center;
    display: none;
}

.c-btn {
    background-color: #f2f2f2;
    color: #444;
    margin-right: 10px;
}

.f-btn {
    width: calc(50% - 10px);
}

.bttn1 {
    margin-top: 40px;
    margin-bottom: 40px;
    height: 40px;
    background-color: #5997FB;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
}

.co-btn {
    margin-left: 10px;
}

#faces-icons {
    cursor: pointer;
    position: relative;
}

.faces {
    position: absolute;
    left: 0;
    top: -65px;
    width: 435px;
    height: 50px;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.faces>li {
    width: calc(435px / 20);
    float: left;
}

.chat-content::-webkit-scrollbar,
.input-content::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 2px;
    /*高宽分别对应横竖滚动条的尺寸*/
}

.chat-content::-webkit-scrollbar-thumb,
.input-content::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.4);
}

.chat-content::-webkit-scrollbar-track,
.input-content::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}